/*@font-face{
	font-family: 'obelixpro';
	src: url(font/ObelixPro.ttf) format('ttf');
}
@font-face{
	font-family: 'bebasneue';
	src: url(../font/bebasneue.woff) format('woff');
}*/

/*jumbotron*/
.header{
	margin-top: 30px;
}
.jumbotron{
	background-image: url(img/header-bg.jpg);
	background-position: 10px 0;
	/*background-attachment: fixed;*/
	background-size: cover;
	overflow: hidden;
}
.jumbotron img{
	width: 200px;
	height: 200px;
	border: 3px solid #777;
	box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}
.jumbotron h1, .jumbotron p{
	color: #eaeaea;
	text-shadow: 1px 1px 6px #aaa;
}

hr{
	width: 250px;
	border-top: 4px solid #aaa;
}
/*akhir jumbotron*/

/*section*/
section{
	min-height: 600px;
}
.pKiri, .pKanan{
	opacity: 0;
	transform: translate(-50px, 0);
	transition: 1s;
}
.pKanan{
	transform: translate(50px, 0);
}
.pKiri.pMuncul, .pKanan.pMuncul{
	opacity: 1;
	transform: translate(0, 0);
}

/*akhir section*/

/*project*/
.project{
	margin-top: 30px;
}
.subProject{
	background: linear-gradient(135deg,#eee, rgba(187,187,187,.7));
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pr{
	width: 50%;
	padding: 15px;
}
.pr ul li{
	list-style-type: none;
}
.pr ul li a{
	font-family: serif;
	font-size: 20px;
	color: #333;
}
/*akhir project*/

/*portofolio*/
.portofolio{
	background-color: #eee;
}

.portofolio .thumbnail{
	opacity: 0;
	transition: 0.7s;
	transform: translate(0, -50px);
}
.portofolio .thumbnail.muncul{
	opacity: 1;
	transform: translate(0, 0);
}

/*akhir portofolio*/


/*Footer*/
.foot{
	margin-top: 10px;
	position: relative;
	min-height: 100px;
	box-sizing: border-box;
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 15px;
	min-height: 100px;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
}
h5{
	font-size: 15px;
	font-family: serif;
	color: #aaa;
}
h5 a{
	font-family: inherit;
	text-decoration: none;
	color: inherit;
}
h5 a:hover{
	text-decoration: none;
	/*color: linear-gradient(to right,red,white);*/
}