body{
	font: 16px/28px arial, sans-serif ;
	background-color: #eaeaea;
	color: #333;
	background-image: url(../img/grey.png);
}

.container{
	width: 960px;
	margin: auto;
	background-color: white;
}
.header{
	padding: 20px;
	padding-bottom: 10px;
}
.header .judul{
	font-size: 40px;
	font-weight: bold;
}
.header ul li{
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}
.header a{
	text-decoration: none;
	color: salmon;
	padding: 3px;
}
.header a:hover{
	background-color: red;
	color: grey;
}
.hero{
	height: 320px;
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-position: 0 -110px;
	border-top: 5px solid lightskyblue;
	border-bottom: 5px solid lightgreen;
}
.main{
	width: 600px;
	padding: 20px;
	box-sizing: border-box;
	float: left;
}
.main h2{
	font-size : 28px;
	font-weight: bold;
}
.main .penulis{
	font-size: 11px;
	margin-top: -5px;
}
.main .penulis a{
	color: salmon;
	text-decoration: none;
}
.main p{
	margin-bottom : 20px;
	font-size: 13px;
}
.vertikal{
	border: 2px solid black;
	height: 1000px;
	width: 0px;
}
.sidebar{
	width: 300px;
	float: right;
	padding: 20px;
}
.sidebar .tentang h3{
	font-weight: bold;
	color: #666;
}
.sidebar .tentang img{
	width: 70px;
	height: 70px;
	float: right;
	padding-left: 10px;
}
.sidebar .tentang p{
	padding-top: 5px;
	font: 13px arial;
}
.project{
	margin-top: 150px;
	box-shadow: 1px 1px 3px;
	padding: 20px;
}
.project h3{
	font-size: 30px;
	font-weight: bold;
}
.project ul{
	margin-top: 30px;
}
.project ul li{
	text-align: center;
	padding: 3px;
}
.project ul li a{
	display: block;
	text-decoration: none;
	font-family: serif;
}
.project ul li a:visited{
	color: red;
}
.project ul li a:active{
	color: yellow;
}

.footer{
	background-color: #333;
	padding: 10px;
}
.footer .cr{
	color: #eaeaea;
	text-align-last: center;
	font-size: 12px;
}

/*Clear Fix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
